#header {
  height: 0.4rem;
  width: 94%;
  margin: 0 auto;
  font-size: 0px;
}
#header img:nth-child(1){
  margin: 0.1rem auto;
  width: 4%;
}
#header img:nth-child(2){
  margin: 0.17rem auto;
  float: right;
  width: 7%;
}