body {
  background: #F8F8F8;
  width: 100%;
  height: 100%;
}

.swiper-container {
  width: 100%;
  height: 4.13rem;
}

.swiper-wrapper {
  width: 100% !important;
}

.swiper-slide {
  width: 100% !important;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  height: 0.24rem;
  width: 0.63rem;
  left: 44%;
  border-radius: 0.1rem;
  background: rgba(0, 0, 0, 0.3);
}

.swiper-container {
  --swiper-theme-color: white;
}

.message {
  background: white;
  width: 100%;
  font-size: 0px;
}

.message h3 {
  font-size: 0.15rem;
  color: #151414;
  font-family: "SourceHanSansCN-Medium";
  width: 90%;
  margin: 0 auto;
  padding-top: 0.15rem;
}

.message p {
  margin: 0.15rem;
  margin-top: 0.23rem;
}

.message p img {
  position: relative;
  top: -0.09rem;
  left: 0.09rem;
}

.message p span {
  color: #BC0F10;
  font-size: 0.13rem;
  position: relative;
  top: -0.11rem;
  left: 0.15rem;
}

.message ul {
  display: flex;
  position: relative;
}

.message ul li {
  flex: 1;
  text-align: center;
}

.message ul li h2 {
  color: #666666;
  font-size: 0.14rem;
}

.message ul li p {
  color: #BC0F10;
  font-size: 0.16rem;
  position: relative;
  top: -0.05rem;
}

.message ul li:nth-child(1)::after {
  position: absolute;
  width: 1px;
  top: 0.2rem;
  left: 1.3rem;
  height: 0.37rem;
  background: red;
  display: block;
  content: "";
}

.message ul li:nth-child(2)::after {
  position: absolute;
  width: 1px;
  top: 0.2rem;
  left: 2.54rem;
  height: 0.37rem;
  background: red;
  display: block;
  content: "";
}

.generalize {
  font-size: 0px;
  height: 2.05rem;
  width: 100%;
  background: white;
  margin: 0.15rem auto;
}

.generalize h3 {
  font-size: 0.14rem;
  color: #BC0F10;
  padding: 0.2rem;
}

.generalize ul li {
  font-size: 0.14rem;
  color: #999999;
  margin-bottom: 0.09rem;
  width: 50%;
  display: inline-block;
}

.generalize ul li span {
  color: black;
}

.generalize ul {
  width: 89%;
  margin: 0 auto;
}

.generalize p {
  margin-left: 0.2rem;
  margin-top: 0.16rem;
}

.generalize p span {
  font-size: 0.12rem;
  display: inline-block;
  width: 0.6rem;
  height: 0.2rem;
  border-radius: 0.04rem;
  text-align: center;
  line-height: 0.21rem;
  margin-left: 0.2rem;
}

.generalize p span:nth-child(1) {
  background: #E9F3FC;
  color: #66ACE2;
  margin-left: 0px;
  border: 1px solid #66ACE2;
}

.generalize p span:nth-child(2) {
  background: #EAFDFB;
  color: #4CBBA7;
  border: 1px solid #4CBBA7;
}

.generalize p span:nth-child(3) {
  background: #FEF7EF;
  border: 1px solid #FFB910;
  color: #FFB910;
}

.plant {
  font-size: 0px;
  height: 2.8rem;
  width: 100%;
  margin: 0.15rem auto;
  background: white;
}

.plant h3 {
  font-size: 0.14rem;
  color: #BC0F10;
  padding: 0.2rem;
}

.plant p {
  font-size: 0.13rem;
  color: #333333;
  width: 90%;
  line-height: 0.23rem;
  margin: 0 auto;
}

.industry {
  width: 100%;
  height: 1.68rem;
  font-size: 0px;
  margin: 0.15rem auto;
  background: white;
}

.industry h3 {
  padding: 0.2rem;
  font-size: 0.14rem;
  color: #BC0F10;
}

.industry ul {
  display: flex;
}

.industry ul li {
  flex: 1;
  text-align: center;
  font-size: 0.12rem;
  color: #333333;
}

.subscribe {
  font-size: 0px;
  height: 4.43rem;
  margin-bottom: 1rem;
  background: white;
}

.subscribe h3 {
  font-size: 0.15rem;
  width: 0.86rem;
  background: #BC0F10;
  color: white;
  height: 0.4rem;
  line-height: 0.4rem;
  text-align: center;
  margin: 0 auto;
  border-bottom-right-radius: 0.05rem;
  border-bottom-left-radius: 0.05rem;
}

.subscribe ul li {
  height: 0.4rem;
  margin-bottom: 0.28rem;
}

.subscribe ul {
  margin-top: 0.35rem;
}

.subscribe ul li span {
  font-size: 0.13rem;
  font-family: "微软雅黑";
  color: #333333;
  position: relative;
  left: 0.25rem;
  top: 0.11rem;
}

.subscribe ul li input {
  width: 2.61rem;
  border-radius: 0.05rem;
  height: 0.4rem;
  color: #BBBBBB;
  font-size: 0.14rem;
  position: absolute;
  text-indent: 0.18rem;
  outline: none;
  background: #F5F5F5;
  left: 0.91rem;
}
.subscribe ul li:nth-child(5) img{
  position: relative;
  top: 0.15rem;
  left: 3.3rem;;
}
.subscribe div{
  font-size: 0px;
  width: 100%;
}
.subscribe div p{
  font-size: 0.13rem;
  width: 1.92rem;
  height: 0.4rem;
  margin: 0 auto;
  text-align: center;
  line-height: 0.4rem;
  color: white;
  border-radius: 0.25rem;
  background: #BC0E0E;
  margin-top: 0.59rem;
}
.subscribe ul li:nth-child(3) img{
  position: relative;
    top: 0.12rem;
    left: 2.8rem;
}
.subscribe ul li:nth-child(4) img{
  position: relative;
    top: 0.12rem;
    left: 3.33rem;
}
.footerBottom {
  width: 100%;
  height: 0.48rem;
  font-size: 0px;
  background: #BC0E0E;
}

.footerBottom ul {
  display: flex;
}

.footerBottom ul li {
  flex: 1;
  text-align: center;
}

.footerBottom ul li span {
  font-size: 0.16rem;
  color: white;
  line-height: 0.52rem;
}

.footerBottom ul li img {
  position: relative;
  top: 0.04rem;
  left: -0.06rem;
}
.textAfter::after{
  width: 0.06rem;
  height: 0.14rem;
  display: block;
  background: red;
  content: "";
  position: relative;
  top: -0.17rem;
  left: -0.23rem;
}
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

img {
  border-radius: 0.05rem;
}

.imgDiv {
  width: 92%;
  font-size: 0px;
  height: 3.2rem;
  border-radius: 0.1rem;
  background: white;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imgBottom {
  width: 0.42rem;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 5.3rem;
}

.imgDiv div>img {
  width: 100%;
  height: 100%;
  margin: 0.1rem;
  display: block;
}

.imgDiv ul {
  display: flex;
  margin-left: 0.1rem;
  margin-top: 0.1rem;
}

.imgDiv ul li {
  flex: 1;
}

.imgDiv ul li img {
  width: 1rem;
}

.imgClick li:nth-child(1) {
  position: relative;
  top: -1.9rem;
  z-index: 12;
  left: 0.31rem;
}

.imgClick li:nth-child(2) {
  position: relative;
  top: -2.15rem;
  z-index: 36;
  left: 2.85rem;
}

.liImg {
  border: 3px solid rgb(0, 255, 76);
}

.imgDiv>div {
  width: 3.2rem;
  height: 2.13rem;
}
.imgBigDisplay{
  display: none;
}
.imgBig{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  position: fixed;
  top: 0px;
  z-index: 5686;
}
.imgDiv{
  position: fixed;
  z-index: 9999;
}