html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.text {
  position: absolute;
  font-size: 0.16rem;
  top: 0.08rem;
  left: 1.6rem;
}

.shade {
  width: 100%;
  height: 80%;
  background: rgb(0, 0, 0);
  opacity: 0.7;
  position: fixed;
  top: 1.62rem;
  z-index: 20;
}

.warehouseDiv {
  width: 100%;
  font-size: 0px;
  height: 0.46rem;
}

.warehouseDiv div {
  display: inline-block;
}

.warehouseDiv div:nth-child(1) {
  width: 80%;
  background: black;
  height: 100%;
  float: left;
}
.selectDiv div:nth-child(1) ul li{
  height: 0.45rem !important;
}
.warehouseDiv div:nth-child(2) {
  width: 20%;
  float: right;
}

.warehouseDiv div:nth-child(2) img {
  height: 0.46rem;
  width: 100%;
}

.warehouseDiv div:nth-child(1) img {
  position: relative;
  top: 0.01rem;
  width: 43%;
  left: 0.14rem;
}

.estate {
  width: 100%;
  font-size: 0px;
}

.estate ul {
  width: 100%;
  margin: 0 auto;
}

.estate ul li {
  width: 100%;
  height: 1.14rem;
  margin-top: 0.15rem;
  border-bottom: 1px solid #E4E4E4;
}

.estate ul li:last-child {
  border-bottom: 0px solid #E4E4E4;
}

.estate ul li div {
  display: inline-block;
}

.estate ul li div:nth-child(1) {
  width: 40%;
  position: relative;
}

.estate ul li div:nth-child(1) img:nth-child(1) {
  width: 1.21rem;
  height: 0.8rem;
  position: relative;
  top: -0.08rem;
  left: 0.13rem;
}

.estate ul li div:nth-child(1) span {
  position: absolute;
  top: -0.04rem;
  transform: rotate(-43deg);
  left: 0.14rem;
  font-size: 0.12rem;
  color: white;
}

.estate ul li div:nth-child(1) img:nth-last-child(2) {
  position: absolute;
  top: -0.1rem;
  left: 0.14rem;
}

.estate ul li div:nth-child(2) {
  width: 57%;
  /* margin-top: 0.1rem; */
}

.estate ul li div:nth-child(2) h3 {
  font-size: 0.13rem;
  color: #141414;
  font-weight: bold;
}

.estate ul li div * {
  margin-bottom: 0.08rem;
}

.estate ul li div:nth-child(2) p:nth-child(2) {
  color: #252525;
  font-size: 0.1rem;
}

.estate ul li div:nth-child(2) p:nth-child(3) {
  color: #DD2935;
  font-size: 0.14rem;
  font-weight: bold;
}

.estate ul li div:nth-child(2) p:nth-child(4) {
  height: 0.15rem;
  text-align: center;
  line-height: 15px;
  font-size: 0.11rem;
  display: inline-block;
  margin-right: 0.2rem;
}

.estate ul li div:nth-child(2) p:nth-child(4) span {
  padding: 0.01rem 0.05rem;
  border-radius: 0.04rem;
  margin-right: 0.1rem;
}

.estate ul li div:nth-child(2) p:nth-child(4) span:nth-child(1) {
  background: #E9F3FC;
  color: #66ACE2;
}

.estate ul li div:nth-child(2) p:nth-child(4) span:nth-child(2) {
  background: #E4FFFA;
  color: #4CBBA7;
}

.estate ul li div:nth-child(2) p:nth-child(4) span:nth-child(3) {
  background: #FCF2C9;
  color: #FFCF10;
}

.estate button {
  margin: 0 auto;
  display: block;
  border: none;
  background: none;
  font-size: 0.15rem;
  width: 94%;
  height: 0.42rem;
  line-height: 0.42rem;
  background: #BC0F10;
  color: white;
  margin-top: 0.3rem;
}

.select {
  font-size: 0px;
}

.select>ul {
  display: flex;
  height: 0.43rem;
  border-bottom: 1px solid #EEEEEE;
  border-top: 1px solid #EEEEEE;
  position: relative;
}

.select ul li {
  font-size: 0.13rem;
  flex: 1;
  color: #999999;
  line-height: 0.43rem;
  text-align: center;
  border-bottom: 1px solid #EEEEEE;
}

.select ul li img {
  position: relative;
  top: -0.02rem;
  left: 0.04rem;
}

.select ul li:nth-child(4) img {
  top: 0rem;
  left: 0.04rem;
}

.selectNone {
  display: none;
}

.selectBlock {
  display: inline-block;
}

.div {
  display: inline-block !important;
}

.select ul .div1 {
  position: absolute;
  z-index: 21;
  width: 100%;
  top: 0.44rem;
  /* height: 2.37rem; */
  left: 0px;
  background: white;
}

.shadeBlock {
  display: none;
}

.div1 {
  font-size: 0px;
  width: 100%;
  position: absolute;
  z-index: 23;
  overflow: hidden;
  background: white;
}

.div1 ul {
  width: 100%;
  margin: 0 auto;
  margin-top: -0.04rem;
}

.selectDiv .div1:nth-child(1) ul:nth-child(1) {
  width: 45%;
  position: relative;
  left: -1.56rem;
  height: 2.76rem;
  text-indent: 0.64rem;
}

.selectDiv div:nth-child(2) ul li {
  width: 1.1rem;
  font-size: 0.16rem;
  height: 0.45rem;
  /* float: left; */
  margin: 0.04rem;
  line-height: 0.45rem;
  background: red;
  border-radius: 0.07rem;
  color: #6E6E6E;
  background: #E5E5E5;
}

.selectCity ul li {
  background: white !important;
  border-radius: 0rem !important;
  height: 0px !important;
}

.confirm {
  font-size: 0px;
  height: 0.8rem;
  margin-top: 1.69rem;
  border-top: 1px solid #E5E5E5;
}

.confirm2 {
  margin-top: 0px;
}

.confirm button {
  width: 1.52rem;
  height: 0.41rem;
  margin-top: 0.23rem;
  background: #EEEEEE;
  font-size: 0.14rem;
  font-weight: bold;
  color: black;
  border-radius: 0.07rem;
}

.confirm button:nth-child(2) {
  margin-left: 0.33rem;
}

.confirm button:nth-child(1) {
  margin-left: 0.19rem;
}

.buttonColor {
  background: #BC0F10 !important;
  color: white !important;
}

.selectDiv div:nth-child(1) ul li {
  text-align: left;
  margin-left: 0.15rem;
  position: relative;
  z-index: 1562;
}

.warehouseDiv ul {
  font-size: 0px;
  position: absolute;
  left: 2.43rem;
  top: 0.95rem;
  text-align: center;
}

.warehouseDiv ul li {
  width: 1.3rem;
  font-size: 0.14rem;
  line-height: 0.41rem;
  height: 0.4rem;
  background: white;
  position: relative;
  z-index: 30;
  border-bottom: 1px solid #EEEEEE;
}

.warehouseUl {
  display: none;
}
.swiper-pagination-bullet {
  width: 0.12rem;
  height: 0.12rem;
  position: relative;
  top: -0.73rem;
  z-index: 15;
  left: 0.02rem;
}
.selectCity {
  width: 77%;
  position: relative;
  top: -2.72rem;
  left: 0.84rem;
  z-index: 13;
}

.selectCityLi {
  display: none;
}

.cityColor {
  color: #BC0F10 !important;
}

.selectCity ul li span {
  display: block;
  text-align: left;
  height: 0.46rem;
  width: 99%;
  margin-left: 0.17rem;
  border-left: 1px solid #eeeeee;
  text-indent: 0.25rem;
  line-height: 0.46rem;
  border-bottom: 1px solid #eeeeee;
}

.selectCity ul li {
  width: 100% !important;
}

.selectCity h3 {
  font-size: 0.14rem;
  height: 0.4rem;
  width: 89%;
  font-family: serif;
  text-align: left;
  color: #999999;
  line-height: 0.4rem;
  margin-left: 0.34rem;
  text-indent: 0.24rem;
  border-bottom: 1px solid #eeeeee;
}
.cityH3{
  background: #BC0F10;
  color: white !important;
}
.selectDiv div:nth-child(4) {
  font-size: 0px;
  width: 100%;
}
#ulImage1 li{
  float: left;
}
.selectDiv div:nth-child(4) ul li h3 {
  font-size: 0.15rem;
  font-weight: bold;
  text-align: left;
}

.selectDiv div:nth-child(4) ul li {
  width: 92%;
  margin: 0 auto;
}

.select div:nth-child(4) ul {
  margin-bottom: 0.6rem;
}
.selectDiv div:nth-child(4) ul li span {
  font-size: 0.12rem;
  margin-right: 0.06rem;
  display: inline-block;
  width: 1rem;
  height: 0.35rem;
  border-radius: 8px;
  background: #E5E5E5;
  color: #6E6E6E;
  text-align: center;
  line-height: 0.35rem;
}
.selectDiv div:nth-child(2) #city li:nth-child(1){
  height: 5.2rem !important;
}
.selectDiv div:nth-child(2) #city li:nth-child(2){
  height: 1.2rem !important;
}
.selectDiv div:nth-child(2) #city li:nth-child(3){
  height: 1.4rem !important;
}
.span {
  position: relative;
  left: -0.55rem;
}

.lastSpan {
  position: relative;
  left: -0.55rem;
}

.liImage {
  background-image: url('../img/select/zcf_xuanxiang_sel.png') !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
}
#time{
  overflow: hidden;
}
#time ul {
  transition: top 0.5s;
  position: relative;
  top: 0px;  
}
#time ul li{
  height: 40px;
  text-align: center;
  line-height: 40px;
}